html, body, #container{
    height: 99%;
    margin-bottom: 0;
    margin-top: 0;
}

body {
    background-color: bisque;    
}

#container{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 7px solid olive;
}

header nav{
    display: flex;
    flex-direction: column;
}

nav{
    margin-top: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.nav-btn{
    background-color: olive;
    color: bisque;
    width:12rem;
    height: 4rem;
    font-size: larger;
    font-weight: bold;    
    margin: 1rem;
    border: none;
}

/* home page */

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#img-indxpg{
    width: 40rem;
    height: 40rem;
    border: 1px solid navy;
}

#topic{
    font-size: 5rem;
    font-weight: bold;
}

#remain{
    font-size: 2rem;
}

#topic, #remain{
    color: saddlebrown;
}

#head-prgh{
    color: navy;
    font-size: 1.3rem;
}

#details{
    margin-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* menu page */

.menu{
    display: grid;
    grid-template-columns: 3fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    background-color: aqua;
}

.breakfast{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    background-color: aquamarine;
}

.lunch{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    background-color: blueviolet;
}

.dinner{
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    background-color: cadetblue;
}

.desserts{
    grid-column: 2/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    background-color:darkcyan
}

.beverages{
    grid-column: 3/4;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    background-color:dodgerblue;
}

